попробую получить инфу с форсквар. Будет ли что-то


__Мне кажется надо брать иностранную структуру. Так как она структурирована__

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://en.wikipedia.org/wiki/Districts_of_Prague'

In [3]:
data = requests.get(url).text

In [4]:
soup = BeautifulSoup(data, 'html.parser')
nieghborhood = []

<table class="wikitable">
<tbody><tr>
<th>Municipal district</th>
<th>Administrative district</th>
<th>Municipal parts
</th></tr>
<tr>
<td>Prague 1</td>
<td><a href="/wiki/Prague_1" title="Prague 1">Prague 1</a></td>
<td>Prague 1
</td></tr>
<tr>
<td>Prague 2</td>
<td><a href="/wiki/Prague_2" title="Prague 2">Prague 2</a></td>
<td>Prague 2

In [5]:
my_table = soup.find('table',{'class':'wikitable'})

mun_distr = []
for tr in my_table.find_all('tr'):
    row_data=[]
    for td in tr.find_all('td'):
        row_data.append(td.text.strip())
    if len(row_data)==3:
        mun_distr.append(row_data[0])

df = pd.DataFrame(mun_distr, columns=['Municipal district'])

df

In [6]:
#administrative
adm_distr = []
for tr in my_table.find_all('tr'):
    row_data=[]
    for a in tr.find_all('a'):
        row_data.append(a.text)
    #print('row:\n', row_data, '\n')
    if len(row_data)==0:
        continue
    else:
        adm_distr.append(row_data[0])
        
        
#adm_distr

['Prague 1',
 'Prague 2',
 'Prague 3',
 'Prague 4',
 'Prague 11',
 'Prague 12',
 'Prague 5',
 'Prague 13',
 'Prague 16',
 'Prague 17',
 'Prague 6',
 'Prague 17',
 'Prague 7',
 'Prague 8',
 'Prague 9',
 'Prague 14',
 'Prague 18',
 'Prague 19',
 'Prague 20',
 'Prague 21',
 'Prague 10',
 'Prague 11',
 'Prague 15',
 'Prague 22']

In [7]:
distr_df = pd.DataFrame(adm_distr, columns=['Administrative district'])

In [8]:
distr_df = distr_df.drop_duplicates()

In [9]:
distr_df = distr_df.reset_index(drop=True)

In [10]:
distr_df

   Administrative district
0                 Prague 1
1                 Prague 2
2                 Prague 3
3                 Prague 4
4                Prague 11
5                Prague 12
6                 Prague 5
7                Prague 13
8                Prague 16
9                Prague 17
10                Prague 6
11                Prague 7
12                Prague 8
13                Prague 9
14               Prague 14
15               Prague 18
16               Prague 19
17               Prague 20
18               Prague 21
19               Prague 10
20               Prague 15
21               Prague 22

In [11]:
distr_df.shape

(22, 1)

In [12]:
import numpy as np # library to handle data in a vectorized manner
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import json # library to handle JSON files
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library
import geocoder

print('Libraries imported.')

Libraries imported.

In [13]:
address = 'prague, czech'

geolocator = Nominatim(user_agent="can_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of rome are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of rome are 50.0864234, 14.4156772.

In [17]:
#get_coord each district
long = []
latit = []
for district in distr_df['Administrative district'].to_list():
    
    # initialize your variable to None
    lat_lng_coords = None

    # loop until you get the coordinates
    while(lat_lng_coords is None):
      g = geocoder.arcgis('{}, Prague, Czech'.format(district))
      lat_lng_coords = g.latlng

    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    
    latit.append(latitude)
    long.append(longitude)

In [18]:
#merge
distr_df['Latitude'] = pd.DataFrame(latit)
distr_df['Longitude'] = pd.DataFrame(long)

In [19]:
distr_df

   Administrative district  Latitude  Longitude
0                 Prague 1  50.08728   14.41742
1                 Prague 2  50.07394   14.43956
2                 Prague 3  50.08260   14.45537
3                 Prague 4  50.04232   14.44812
4                Prague 11  50.03094   14.52406
5                Prague 12  50.00201   14.41810
6                 Prague 5  50.07167   14.40098
7                Prague 13  50.04925   14.33801
8                Prague 16  49.98318   14.36187
9                Prague 17  50.07297   14.30813
10                Prague 6  50.10106   14.39981
11                Prague 7  50.10800   14.43797
12                Prague 8  50.12692   14.45672
13                Prague 9  50.11058   14.50034
14               Prague 14  50.10054   14.55486
15               Prague 18  50.15175   14.52394
16               Prague 19  50.13372   14.54743
17               Prague 20  50.11533   14.61252
18               Prague 21  50.07715   14.66000
19               Prague 10  50.06762   14.46016
20               Prague 15  50.04703   14.55586
21               Prague 22  50.03129   14.59919

# initialize your variable to None
lat_lng_coords = None

# loop until you get the coordinates
while(lat_lng_coords is None):
  g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
  lat_lng_coords = g.latlng

latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]